{% extends "base.html" %}

{% block content %}

<a href="/usuarios/lista" style="display:inline-block; padding:7px 16px; background:#6c757d; color:white; border-radius:6px; text-decoration:none; margin-bottom:16px; font-size:14px;">← Lista Usuários</a>


<div class="card">

<h2>Cadastro de Dentista</h2>

<form method="POST" action="/dentistas/salvar">

    <input name="nome" placeholder="Nome" required>
    <input name="email" placeholder="Email" required>
    <input type="password" name="senha" placeholder="Senha" required>

    <label>Especialidade</label>
    <select name="especialidade" required>
        <option>Endodontia</option>
        <option>Cirurgia</option>
        <option>Dentística</option>
        <option>Periodontia</option>
        <option>Odontopediatria</option>
        <option>Próteses</option>
    </select>

    <input name="cro" placeholder="CRO" required>

    <button type="submit">Salvar</button>

</form>

</div>

{% endblock %}