{% extends "base.html" %}

{% block content %}

<h2>Editar Usuário</h2>

<form method="POST" action="/usuarios/atualizar/{{ usuario.id }}">

    <input name="nome" value="{{ usuario.nome }}" required>
    <input name="email" value="{{ usuario.email }}" required>

    <select name="tipo">
        <option value="admin" {% if usuario.tipo == 'admin' %}selected{% endif %}>Admin</option>
        <option value="dentista" {% if usuario.tipo == 'dentista' %}selected{% endif %}>Dentista</option>
        <option value="atendente" {% if usuario.tipo == 'atendente' %}selected{% endif %}>Atendente</option>
        <option value="operador" {% if usuario.tipo == 'operador' %}selected{% endif %}>Operador</option>
    </select>

    <h3>Dados do Dentista</h3>

    <select name="especialidade">
        <option value="">Especialidade</option>
        <option {% if usuario.especialidade == 'Endodontia' %}selected{% endif %}>Endodontia</option>
        <option {% if usuario.especialidade == 'Cirurgia' %}selected{% endif %}>Cirurgia</option>
        <option {% if usuario.especialidade == 'Dentística' %}selected{% endif %}>Dentística</option>
        <option {% if usuario.especialidade == 'Periodontia' %}selected{% endif %}>Periodontia</option>
        <option {% if usuario.especialidade == 'Odontopediatria' %}selected{% endif %}>Odontopediatria</option>
        <option {% if usuario.especialidade == 'Próteses' %}selected{% endif %}>Próteses</option>
    </select>

    <input name="cro" value="{{ usuario.cro }}" placeholder="CRO">

    <button type="submit">Salvar</button>

</form>

{% endblock %}