{% extends "base.html" %}

{% block content %}

<a href="/consultas" style="display:inline-block; padding:7px 16px; background:#6c757d; color:white; border-radius:6px; text-decoration:none; margin-bottom:16px; font-size:14px;">← Agenda</a>


<h2>Painel da Agenda</h2>

<table border="1">
<tr>
    <th>Data</th>
    <th>Hora</th>
    <th>Paciente</th>
    <th>Dentista</th>
    <th>Status</th>
</tr>

{% for c in consultas %}
<tr>
    <td>{{ c.data | formatar_data }}</td>
    <td>{{ c.hora }}</td>
    <td>{{ c.paciente }}</td>
    <td>{{ c.dentista }}</td>
    <td>{{ c.status }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}