{% extends "base.html" %}

{% block content %}

<a href="/pacientes/ficha/{{ paciente_id }}" style="display:inline-block; padding:7px 16px; background:#6c757d; color:white; border-radius:6px; text-decoration:none; margin-bottom:16px; font-size:14px;">← Ficha do Paciente</a>

<div class="card">

<h2>Prontuário</h2>

<form method="POST" action="/prontuario/salvar">
    <input type="hidden" name="paciente_id" value="{{ paciente_id }}">

    <textarea name="historico" placeholder="Histórico"></textarea>
    <textarea name="diagnostico" placeholder="Diagnóstico"></textarea>
    <textarea name="tratamento" placeholder="Tratamento"></textarea>

    <button>Salvar</button>
</form>

<hr>

{% for r in registros %}
<p><b>{{ r.data }}</b></p>
<p>{{ r.historico }}</p>
<p>{{ r.diagnostico }}</p>
<p>{{ r.tratamento }}</p>
<hr>
{% endfor %}

</div>

{% endblock %}